.figure, .img {
    display: block;
    margin: 0 auto;
}

.caption {
    text-align: center;
}

.emptyCart{
    padding: 1.2em;
    display: grid;
    justify-content: center;
    align-content: center;
}
.emptyCart-text-center{
    text-align: center;
}

.emptyCart-button{
    background-color: #665C84;
    color: #ffffff;
    border: none;
    font-size: 1.1em;
    padding: .5em;
    border-radius: .6em;
}